@media screen and (max-width: 639px){

    .carasoul-heading{
    display: none;
    
    }
    .image-container{
      display: flex;
      justify-content: center;
      align-items: center;
  
    }
    .slick{
      height: 50%;
    }
    img{
      height: 20vh;
      padding-top: 10px;
      padding-bottom: 10px;
    
    }
    .image-slider{
  position: relative;
    }
    
  }
   
  .dark .best-selling{
    color: white;
  }
  